<section class="flex flex-col space-y-4">
  <section>
    <img src="https://picsum.photos/200/300" class="w-full max-h-60 object-cover">
  </section>
  <section class="flex flex-col ">
    <article class="w-full flex flex-col space-y-5 items-center">
      <div class="w-full border-b pb-5" id="about">
        <h3 class="flex items-center space-x-2">
          <img src="assets/about-ico.svg" class="h-5"> <span class="font-['Satisfy'] font-medium text-2xl tracking-widest">Qui sommes-nous ?</span>
        </h3>
        <br>
        <p class="">
          REDA est une association reconnue d’utilité publique qui regroupe des français et des migrants à travers des temps d’échanges et de convivialité.
          Tous les jeudis, à l’heure du déjeuner, un repas est partagé depuis 2005 au centre Marcelle Menet. L’occasion de rencontrer et accueillir de nouvelles personnes, de faire l’annonce des activités de la semaine, de pratiquer son français, d’échanger sur les différentes cultures.
          Tous le monde participent !!
          Toutefois, chaque semaines des sorties et activités culturelles sont proposées grâce à la Charte culture et solidarité en partenariat avec la Mairie: films au cinéma, théâtre, expositions, visites du château, concerts, conférences, débats, etc.
          Le REDA organise chaque année des événements tels que : le repas de Noël pour les migrants et SDF, la journée internationale des droits des femmes, la journée mondiale des Réfugiés avec pour objectif la sensibilisation de tous à l’accueil des demandeurs d’asile.
          Les caractéristiques structurelles
          Le siège social de l’association se situe au centre social Marcelle Menet (2 Mail Clément Pasquereau à Angers, dans le quartier du Grand Pigeon), véritable lieux de réunions d’association permettant l’entraide, les rencontres, la mixité sociale.
        </p>

      </div>

      <div class="w-full border-b pb-5" id="teams-admin">
        <h4 class="font-['Satisfy'] font-medium text-2xl tracking-widest">Voici les membres constitutifs du bureau :</h4>
        <br>

        <div class="w-full grid grid-cols-2 gap-2">

          <div class="p-2 w-full">
            <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
              <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="assets/avataaars.svg">
              <div class="flex-grow">
                <h2 class="text-gray-900 title-font font-medium">Dominique Naud</h2>
                <p class="text-gray-500">Président</p>
              </div>
            </div>
          </div>

          <div class="p-2 w-full">
            <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
              <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/80x80">
              <div class="flex-grow">
                <h2 class="text-gray-900 title-font font-medium">Hamad Al Bashir</h2>
                <p class="text-gray-500">Vice-président</p>
              </div>
            </div>
          </div>
          <div class="p-2 w-full">
            <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
              <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/80x80">
              <div class="flex-grow">
                <h2 class="text-gray-900 title-font font-medium">Marie-Jeanne Lambour</h2>
                <p class="text-gray-500">Secrétaire</p>
              </div>
            </div>
          </div>
          <div class="p-2 w-full">
            <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
              <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/80x80">
              <div class="flex-grow">
                <h2 class="text-gray-900 title-font font-medium">Anne Maillard</h2>
                <p class="text-gray-500">Trésorière</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="w-full border-b pb-5" id="teams">
        <h4 class="font-['Satisfy'] font-medium text-2xl tracking-widest">Membres du REDA :</h4>
        <br>
        <div class="flex flex-col md:flex-row items-center">
          <img src="assets/teams.jpg" alt="membres" class="w-1/2 h-1/5">
          <div>
            <p>L’association accueille des demandeurs d’asile et réfugiés de toutes origines :</p>
            <ul>
              <li>-Maghreb</li>
              <li>-Guinée</li>
              <li>-Soudan</li>
              <li>-Erythrée</li>
              <li>-Congo</li>
              <li>-Mali</li>
              <li>-Palestine</li>
              <li>-Syrie</li>
              <li>-Colombie</li>
              <li>-etc.</li>
            </ul>
            <p>qui deviennent membres avec les bénévoles français.</p>
          </div>
        </div>

      </div>

      <div class="w-full border-b pb-5">
        <h4 class="font-['Satisfy'] font-medium text-2xl tracking-widest">Les partenariats de l’association</h4>
        <br>
        <p>
          REDA travaille en lien avec d’autres associations locales et nationales qui se battent pour préserver le droit à l’asile et à une vie décente pour chacun.
          La Coordination Migrants 49 est une collectivité d’associations angevines impliquée dans la cause des migrants.
          Ils s’échanges leurs connaissances sur la situation des migrants et des atteintes à leurs droits pour sensibiliser l’opinion publique et les pouvoirs publics.
        </p>
      </div>

    </article>
  </section>
</section>
