<main class="container mx-auto flex flex-col h-screen">
  <p-menubar [model]="items">
    <ng-template pTemplate="start" class="mr-5">
      <div class="flex space-x-2 justify-center items-center cursor-pointer">
        <img src="assets/reda.png" class="mr-2 h-10">
        <span class="font-medium text-xl">{{title|uppercase}}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <input type="text" pInputText placeholder="Search">
    </ng-template>
  </p-menubar>

  <section class="flex-1">
    <router-outlet></router-outlet>
  </section>

  <footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <img src="assets/reda.png" class="mr-2 h-10">
        <span class="ml-3 text-xl">{{title|uppercase}}</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
        © 2022 {{title|uppercase}}
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a class="text-gray-500" href="https://www.facebook.com/REDA-830876333682531/" target="_blank">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
        </svg>
      </a>
    </span>
    </div>
  </footer>
</main>
